<%-include('headerIndex')-%>

  <!-- Carosello mostra foto -->

  <main id="details" class="bordato">
    <div class="container" id="cardRestaurantBG">
      <div class="row mt-6">
      <div class="col-md-6">
        <div class="row mt-5">
          <!-- Dettagli della pizzeria -->
          <div class="dettaglioPizzeria">
            <h2>
              <%= pizzeria.Nome %>
            </h2>
            <p>
              <%= pizzeria.Tipologia %>
            </p>
            <p>
              <%= pizzeria.Città %> - <%= pizzeria.Indirizzo %>
            </p>
            <p>Numero di telefono: <%= pizzeria.Telefono %>
            </p>
            <p>Orari di apertura:
              <%= pizzeria.Orari %>
            </p>

            <div class="bottoniDettagli">

              <!-- Bottone visibile solo agli utenti registrati -->
              <% if(auth) { %>
                <button type="button" class="btn btn-primary btn-default" data-toggle="modal"
                  data-target="#prenotazioneModal">
                  Prenota un tavolo
                </button>
                <% } %>
            </div>
          </div>

          <!-- Prenotazione a comparsa della Pizzeria -->
          <div class="modal fade" id="prenotazioneModal" tabindex="-1" role="dialog"
            aria-labelledby="prenotazioneModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="prenotazioneModalLabel">Prenotazione Tavolo</h5>
                </div>
                <div class="modal-body">
                  <form method="POST" action="/detail/prenota/<%= pizzeria.ID_Pizzeria %>">
                    <div class="form-group">
                      <label for="nome">Nome prenotazione</label>
                      <input type="text" class="form-control" id="Nome" name="Nome" required>
                    </div>
                    <div class="form-group">
                      <label for="data">Data</label>
                      <input type="date" class="form-control" id="Data" name="Data" required>
                    </div>
                    <div class="form-group">
                      <label for="orario">Orario</label>
                      <select class="form-control" id="Orario" name="Orario" required>
                        <option value="" disabled selected>Scegli un orario</option>
                        <option value="12:00">12:00</option>
                        <option value="12:30">12:30</option>
                        <option value="13:00">13:00</option>
                        <option value="13:30">13:30</option>
                        <option value="14:00">14:00</option>
                        <option value="19:00">19:00</option>
                        <option value="19:30">19:30</option>
                        <option value="20:00">20:00</option>
                        <option value="20:30">20:30</option>
                        <option value="21:00">21:00</option>
                        <option value="21:30">21:30</option>
                        <option value="22:00">22:00</option>
                        <option value="22:30">22:30</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="persone">Numero di Persone</label>
                      <input type="number" class="form-control" id="Persone" name="Persone" min="1" required>
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Annulla</button>
                  <button class="btn btn-primary" type="submit">Prenota</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <!-- Mappa -->
          <% if(pizzeria.GoogleMapsLink !=null){%>
            <h3>&ThickSpace;Ci trovi qui</h3>
            <%- pizzeria.GoogleMapsLink %>
              <% } %>
        </div>
      </div>
      <div class="col-md-5">
        <!-- Menu -->
        <h3>Menu</h3>
        <% pizzas.forEach((pizza)=> { %>
          <div class="card">
            <div class="card-body d-flex justify-content-between align-items-center">


              <div>
                <h4 class="card-title">
                  <%= pizza.PizzaNome %>
                </h4>
                <p class="card-text">
                  <%= pizza.Ingredienti %>
                </p>
              </div>
              <div class="vote">
                <%= pizza.Prezzo %> euro
              </div>
            </div>
          </div>
          <p></p>
          <% }); %>
      </div>

    </div>
    </div>
    </div>
  </div>

  </main>

  </div>

  <%-include('footer')-%>