<%- include('headerIndex') %>

  <div class="row justify-content-center bordato">
    <div class="col-md-6" id="cardRestaurantBG">
      <!-- ... Altri campi di informazioni sulla pizzeria ... -->

      <!-- Menu -->
      <div class="container">
        <div class="row">
          <div class="col">
            <h3>Menu</h3>
          </div>
          <div class="col">
            <button class="btn btn-primary btn-success" data-toggle="modal" data-target="#nuovaPizza"><a>Aggiungi Pizza</a></button>
          </div>
          <div class="col">
            <button class="btn btn-primary"><a href="/reserved-area">Torna indietro</a></button>
          </div>
        </div>
      </div>

      <hr>
      <% pizzas.forEach((pizza, pizzeria)=> { %>
          <% if (pizza.ID_Pizzeria == pizzeria.ID_Pizzeria) { %>
              <div class=" pizza-fields">
              <div class="form-group">
                <label>Nome:</label>
                <input type="text" class="form-control" value="<%= pizza.PizzaNome %>" name="Nome">
              </div>
              <div class="form-group">
                <label>Ingredienti:</label>
                <input type="text" class="form-control" value="<%= pizza.Ingredienti %>" name="Ingredienti">
              </div>
              <div class="form-group">
                <label>Prezzo:</label>
                <input type="number" class="form-control" value="<%= pizza.Prezzo %>" name="Prezzo">
              </div>
              <form method="POST" action="/menu/delete/<%=pizza.ID_Pizza%>">
                <button class="btn btn-danger rimuoviButton" type="submit">Rimuovi</button>
              </form>
          </div>

          <% }}); %>


            <br>
        </div>
      </div>

      <div id="nuovaPizza" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Aggiungi Pizza</h5>
            </div>
            <div class="modal-body">
              <form method="POST" action="/menu/add/<%= pizzeria.ID_Pizzeria %>">
                <div class="form-group">
                  <label for="nomeInput">Nome:</label>
                  <input type="text" class="form-control" id="Nome" name="Nome" required>
                </div>
                <div class="form-group">
                  <label for="ingredientiInput">Ingredienti:</label>
                  <input type="text" class="form-control" id="Ingredienti" name="Ingredienti" required>
                </div>
                <div class="form-group">
                  <label for="prezzoInput">Prezzo:</label>
                  <input type="number" class="form-control" id="Prezzo" name="Prezzo" required>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>

              <button class="btn btn-success" type="submit">Aggiungi</button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <%- include('footer') %>