<%- include('headerIndex') %>

    <div class="row justify-content-center bordato">
        <div class="col-md-6" id="cardRestaurantBG">
                <!-- ... Altri campi di informazioni sulla pizzeria ... -->

                <!-- Menu -->
                <div class="container">
                    <div class="row">
                      <div class="col">
                        <h3>Menu</h3>
                      </div>
                      <div class="col">
                        <button class="btn btn-primary btn-success" data-toggle="modal" data-target="#nuovaPizza"><a>Aggiungi Pizza</a></button>
                      </div>
                    </div>
                  </div>

                <hr>
                <% pizzas.forEach((pizza, pizzeria)=> { %>
                    <% if (pizza.ID_Pizzeria == pizzeria.ID_Pizzeria && pizza.PizzaNome !== null) { %>

                        <div class="pizza-fields">
                            <div class="form-group">
                                <label>Nome:</label>
                                <input type="text" class="form-control" value="<%= pizza.PizzaNome %>" name="Nome">
                            </div>
                            <div class="form-group">
                                <label>Ingredienti:</label>
                                <input type="text" class="form-control" value="<%= pizza.Ingredienti %>"
                                    name="Ingredienti">
                            </div>
                            <div class="form-group">
                                <label>Prezzo:</label>
                                <input type="number" class="form-control" value="<%= pizza.Prezzo %>" name="Prezzo">
                            </div>
                            <button class="btn btn-danger rimuoviButton" type="button">Rimuovi</button>
                        </div>

                        <% }}); %>


            <br>
        </div>
    </div>

    <div class="modal fade" id="nuovaPizza" tabindex="-1" role="dialog" aria-hidden="false" aria-labelledby="myModalLabel">
        <form method="POST" action="/menu">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Nuova Pizza</h4>
              </div>
              <div class="modal-body mx-3">
                <div class="md-form mb-4">
                  <label data-error="wrong" data-success="right" for="Nome">Nome:</label>
                  <input type="text" id="Nome" class="form-control validate" name="Nome" required>
                </div>
    
                <div class="md-form mb-4">
                  <label data-error="wrong" data-success="right" for="Ingredienti">Ingredienti:</label>
                  <input type="text" id="Ingredienti" class="form-control validate" name="Ingredienti" required>
                </div>

                <div class="md-form mb-4">
                    <label data-error="wrong" data-success="right" for="Prezzo">Prezzo:</label>
                    <input type="number" id="Prezzo" class="form-control validate" name="Prezzo" required>
                  </div>
    
              </div>
              <div class="modal-footer d-flex justify-content-center">
                <button type="submit" class="btn btn-primary"><a>Aggiungi</a></button>
              </div>
            </div>
          </div>
        </form>
      </div>


    <%- include('footer') %>