<%-include('headerIndex')-%>

    <div class="container mt-5 bordato" id="cardRestaurantBG">
        <h2 class="arearegistrata">Informazioni Pizzeria</h2>
        <form method="post" action="/reserved-area/<%= pizzeria.ID_Pizzeria %>">
            <div class="form-group">
                <label for="inputNome">Nome della pizzeria</label>
                <input type="text" class="form-control" name="nome" value="<%= pizzeria.Nome %>">
            </div>
            <div class="form-group">
                <div class="form-group">
                    <label for="inputCittà">Città della pizzeria</label>
                    <input type="text" class="form-control" name="citta" value="<%= pizzeria.Città %>">
                </div>
                <label for="inputIndirizzo">Indirizzo della pizzeria</label>
                <input type="text" class="form-control" name="indirizzo" value="<%= pizzeria.Indirizzo %>">
            </div>
            <div class="form-group">
                <label for="inputTelefono">Numero di telefono</label>
                <input type="text" class="form-control" name="numero" value="<%= pizzeria.Telefono %>">
            </div>
            <div class="form-group">
                <label for="inputGGhhApertura">Giorni e orari di apertura:</label>
                <input type="text" class="form-control" name="GGhhApertura" value="<%= pizzeria.Orari %>">
            </div>
            <div class="form-group">
                <label for="inputCategoria">Categoria</label>
                <input type="text" class="form-control" name="categoria" value="<%= pizzeria.Tipologia %>">
            </div>
            <br><label for="googleMapsLink">Google Maps Link per la mappa:</label>
            <input type="text" id="googleMapsLink" name="googleMapsLink" value="<%= pizzeria.GoogleMapsLink %>">

            <div class="row">
                <div class="col">
                    <button class="btn btn-primary btn-success" type="submit"><a>Salva modifiche</a></button>
                </div>

        </form>
        <div class="col">
            <button class="btn btn-primary btn-danger"><a href="/menu/<%= pizzeria.ID_Pizzeria %>">Modifica il Menu qua</a></button>
        </div>
    </div>

    <hr>

    <h2>Prenotazioni</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nome Cliente</th>
                <th>Numero Persone</th>
                <th>Data Prenotazione</th>
                <th>Ora Prenotazione</th>
                <th>Azioni</th>
            </tr>
        </thead>
        <tbody>

            <% prenotazionis.forEach((prenotazioni)=> { %>
                <tr>
                    <td>
                        <%= prenotazioni.Nome %>
                    </td>
                    <td>
                        <%= prenotazioni.NPersone %>
                    </td>
                    <td>
                        <%= prenotazioni.Orario %>
                    </td>
                    <td>
                        <%= prenotazioni.Data %>
                    </td>
                    <td>
                        <form method="POST" action="/reserved-area/delete/<%=prenotazioni.IDPrenotazione%>">
                            <button class="btn btn-danger" type="submit">Rimuovi</button>
                        </form>
                    </td>
                </tr>
                <p></p>
                
                    <!-- Altre righe per le prenotazioni -->
                <% }); %>

        </tbody>
    </table>

    <hr>

    </div>
    <%-include('footer')-%>