<%-include('headerIndex')-%>

  <hr>

  <!-- Form di ricerca e Filtro -->
  <div class="main-content container">
    <div class="row">
      <div class="col-md-1 offset-md-1"></div>
      <div class="col">
        <form method="post" action="/restaurants/filter" class="d-flex">
          <select class="form-control form-control-aside me-2" placeholder="Filtra città..." name="filter">
            <option value="">Tutte le città</option>
            <% cittaOrdinate.forEach((pizzeria)=> { %>
              <option value="<%= pizzeria.elencoCitta %>"><%= pizzeria.elencoCitta %></option>
              <% }); %>
          </select>
          <button class="btn btn-danger" type="submit">Filtra</button>
        </form>
      </div>
      <div class="col">
        <form method="post" action="/restaurants/search" class="d-flex">
          <input class="form-control form-control-aside me-2" type="search" placeholder="Cerca..." name="search">
          <button class="btn btn-success" type="submit">Cerca</button>
        </form>
      </div>
    </div>
  </div>


    <% pizzerias.forEach((pizzeria)=> { %>
      <hr>
      <!-- Elenco Pizzerie -->
      <div id="app-container" class="bordato">
        <div class="row">
          <div class="col-md-1 offset-md-1"></div>
          <div class="col-md-6" id="cardRestaurantBG">
            <a class="legenda" href="/detail/<%= pizzeria.ID_Pizzeria %>">
              <h2>
                <%= pizzeria.Nome %>
              </h2>
              <p>
                <%= pizzeria.Tipologia %>
              </p>
              <p>
                <%= pizzeria.Città %> - <%= pizzeria.Indirizzo %>
              </p>
              <p>Numero di telefono: <%= pizzeria.Telefono %>
              </p>
            </a>
          </div>
          <div class="col-md-3 d-flex justify-content-end">
            <div class="image-container">
              <img src="/images/Pizzeria-Acquapazza-mini.png" alt="Pizzeria-Acquapazza-mini.png" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
      <hr>
    <% }); %>

      </div>
      <%-include('footer')-%>