<hr>

<!-- Elenco Pizzerie -->
<div id="app-container" class="bordato">
  <div class="row">
    <div class="col-md-1 offset-md-1"></div>
    <div class="col-md-6" id="cardRestaurantBG">
      <a class="legenda" href="/detail/<%= pizzeria.ID_Pizzeria %>">
        <h2>
          <%= pizzeria.Nome %>
        </h2>
        <p>
          <%= pizzeria.Tipologia %>
        </p>
        <p>
          <%= pizzeria.Città %> - <%= pizzeria.Indirizzo %>
        </p>
        <p>Numero di telefono: <%= pizzeria.Telefono %>
        </p>
      </a>
    </div>
    <div class="col-md-3 d-flex justify-content-end">
      <div class="image-container">
        <img src="/images/Pizzeria-Acquapazza-mini.png" alt="Pizzeria-Acquapazza-mini.png" class="img-fluid">
      </div>
    </div>
  </div>
</div>
<hr>